<component name="ArtifactManager">
  <artifact type="war" name="springboot_log4j2_mongodb:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="transctional.war">
      <element id="artifact" artifact-name="springboot_log4j2_mongodb:war exploded" />
    </root>
  </artifact>
</component>